@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;600;700&display=swap');

/*font-family: 'Poppins', sans-serif;*/
* {
    margin: 0;
    padding: 0;
}

section {
    background: linear-gradient(95deg, #21E8C4 -20.42%, #179B93 -3.13%, #267B87 24.22%, #0F474F 72.75%);
    height: 100vh;
}

#branding,
.herotext,
.button,
.shoetext {
    font-family: 'Poppins', sans-serif;
    font-weight: 700;
}

#search,
.content,
.up {
    font-family: 'Poppins', sans-serif;
    font-weight: 400;
}

a {
    text-decoration: none;
    color: white;
}

.black {
    color: black;
}

.up {
    display: flex;
    list-style: none;
    flex-direction: row;
    justify-content: space-between;
    font-size: 21px;
    position: relative;
    top: -2.5vh;
    left: 50vw;
    width: 390px;
}

.up a:hover {
    color: yellow;
    text-decoration: underline;
    text-underline-offset: 3px;
    text-decoration-color: #a4a6a18e;
}

#cart {
    background-image: url("/ASSETS/Buy.png");
    height: 2.5vh;
    width: 2.5vw;
    background-repeat: no-repeat;
    position: relative;
    top: -9vh;
    left: 85vw;
}

#search {
    color: black;
    background-color: white;
    position: relative;
    top: -6vh;
    left: 75vw;
    height: 2.5vh;
    width: 5vw;
    padding: 5px;
    border-style: solid;
    border-width: 0px 15px;
    border-color: white;
    border-radius: 25px;
}

#branding {
    height: fit-content;
    width: fit-content;
    align-content: center;
    position: relative;
    top: 5vh;
    left: 15vw;
    font-size: 21px;
    color: white;
}

#logo {
    position: relative;
    top: 1vh;
    left: 18.5vw;
    height: fit-content;
    width: fit-content;
}

.herotext {
    color: white;
    font-size: 64.11px;
    width: fit-content;
    height: fit-content;
    position: relative;
    left: 12.5vw;
    top: 3vh;
}

.content {
    width: 21vw;
    height: fit-content;
    color: white;
    font-size: 18px;
    text-transform: capitalize;
    position: relative;
    top: 9vh;
    left: 12.5vw;
}

.button {
    color: rgba(250, 255, 35, 0.99);
    font-size: 20px;
    font-style: normal;
    width: 7vw;
    height: 2vw;
    padding: 1.5vh 1.5vw 0.5vh;
    text-align: center;
    border-style: hidden;
    border-radius: 38px;
    background: linear-gradient(116.81deg, #179B93 43.2%, rgba(217, 217, 217, 0.71) 61.6%);
    position: relative;
    top: 20vh;
    left: 11vw;
}

.shoetext {
    font-size: 18px;
    color: rgba(24, 89, 85, 1);
    height: 8vh;
    width: 20vw;
    padding: 1vh 2vw;
    background: #D9D9D9;
    box-shadow: 0px 0px 0px rgba(0, 0, 0, 0.25);
    border-radius: 71px;
    position: relative;
    top: -22vh;
    left: 50vw;
}

.heroimage {
    position: relative;
    top: -57vh;
    left: 48vw;
    height: 0vh;
    width: 0vw;
}

.down {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 35vw;
    position: relative;
    top: 7vh;
    left: 45vw;
}

nav.images {
    height: fit-content;
    width: fit-content;
}

#img {
    height: 8vw;
    width: 8.5vw;
    background: linear-gradient(180deg, rgba(250, 255, 35, 0.99) -4.65%, rgba(250, 255, 35, 0) 100%);
    border-radius: 28px;
    align-content: center;
}

.bottomtext {
    font-size: 16.64px;
    font-weight: 600;
    color: white;
    display: flex;
    width: 33vw;
    height: fit-content;
    flex-direction: row;
    justify-content: space-between;
    position: relative;
    top: 7vh;
    left: 46.5vw;
}

#img:hover {
    background-color: yellow;
}
